!.gitignore
*~
pom.xml
target
project/boot/
*_managed
.idea/ant.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/dictionaries/
.idea/copyright/
lib*
derby.log
org.squeryl.tests.cfg
profileOfH2Tests.html
*.h2.db
*.trace.db
.sbtconfig
tags
.bsp
.idea
.sdkmanrc
.nexus_credentials