<h3> Explicitly control retrieval granularity and laziness </h3>


<!-- It is less _transparent_ but that also means less _magic_ behind the scenes and less _horror_ in the JDBC logs. -->

<!-- explicitly define the right balance between laziness -->

A significant part of optimizing a database abstraction layer is to choose for every situation the right balance between fine and large grained retrieval, and the optimal mix of laziness and eagerness. Data retrieval strategies are explicit in Squeryl rather than driven by configuration like current generation Java ORMs