
<!--
<div id="toggleGrid" onclick="toggleGrid();">Show Grid</div>
-->
      <div  class='span-4'> <!-- header-->
	   <br/>
	   <br/>	    
	      <h1 align='center'><a href='index.html' style='color:black;text-decoration:none;'>Squeryl</a></h1>		  		 		
      </div>

      <div  class='span-20 last'>

		<p class='nav' align='center'>
		  <a href='index.html'>Home</a>&nbsp;&nbsp;
		  <a href='introduction.html'>Learn more</a>&nbsp;&nbsp;		  		  
		  <a href='community.html'>Community</a>
		</p>

        <br/>
        <h2 align='center'>{{ page.title }}</h2>
      </div>
      
      <div class='span-24 last'></div>
