
<div id="toggleGrid" onclick="toggleGrid();">Show Grid</div>

      <div  class='span-4'> <!-- header-->
	   <br/>
	   <br/>
	    <a href='index.html' class='sansU'>
	      <h1 align='center'>Squeryl</h1>		  		 
		</a>		
      </div>

      <div  class='span-20 last'>
<!--      
          <a href='downloads.html'>download</a>
          <a target='none' href='http://wiki.github.com/max-l/Squeryl/'>Wiki</a>
		  <a href='roadmap.html'>Features and Roadmap</a>
		  <a href='contributing.html'>Reporting bugs and Contributing</a>		  		            
-->
		<p align='center'>
		  <a href='index.html'>Home</a>&nbsp;&nbsp;
		  <a href='introduction.html'>Introduction</a>&nbsp;&nbsp;
		  <a href='vision.html'>Vision</a>&nbsp;&nbsp;
		  <a href='manual.html'>Learn</a>&nbsp;&nbsp;
		  <a href='community.html'>Community</a>
		</p>

        <br/>
        <h2 align='center'>{{ page.title }}</h2>
      </div>
      
      <div class='span-24 last'></div>
