<html>
  <head>
    <title>Squeryl &mdash; {{ page.title }}</title>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="css/blueprint/reset.css" type="text/css">
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">	
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->		
    <link rel="stylesheet" href="css/blueprint/typography.css" type="text/css" media="screen, projection">
		
    
	<link   type="text/css" rel="stylesheet" href="styles/shCore.css"/>
	<link   type="text/css" rel="stylesheet" href="styles/shThemeDefault.css"/>

	<script type="text/javascript" src="src/shCore.js"></script>
	<script type="text/javascript" src="src/shBrushJava.js"></script>
	<script type="text/javascript" src="src/shBrushScala.js"></script>
	<script type="text/javascript" src="src/shBrushSql.js"></script>	
	<script type="text/javascript">
		SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
		SyntaxHighlighter.all();
	</script>
	
	<style type="text/css">
	  div.ligne {border:1px solid; color:ECE5B6; border-bottom-style:solid;}
	  a.sansU {text-decoration : none}
	  li a {text-decoration : none; color:646060}
	  ul.nav li {list-style-type: none; margin-bottom: 4px;}
	</style>	
  </head>
  <body>
    <div  class='container'> <!--<div class='container showgrid'>-->
      <div  class='span-24 last' style="background: "> <!-- header-->
	   <br/>
	    <a href='index.html' class='sansU'>
	      <h1 align='center'>Squeryl</h1>
		  <h3 align='center'><i>Functionnaly bridging live Scala objects with their persisted counterpart</i></h3>
		</a>
		<h2 align='center'>{{ page.title }}</h2>
      </div>
	  			
      <div class="span-4"> <!-- left side bar -->
	    <h3><a href='index.html' class='sansU' style='color:black'>Home</a></h3>		
		
        <ul class='nav'>
          <li><a target='none' href='http://github.com/max-l/Squeryl/downloads'>download</a></li>
          <li><a target='none' href='http://wiki.github.com/max-l/Squeryl/'>Wiki</a></li>
          <li><a target='none' href='http://groups.google.com/group/squeryl'>User support and discussion</a></li>			  
        </ul>				
		
	    <h3>User Guide</h3>
	    <ul class='nav'>
           <li><a href='selects.html'>Selects</a></li>
           <li><a href='joins.html'>Joins</a></li>
           <li><a href='inserts-updates-delete.html'>Insert, Update, Delete</a></li>
		   <li><a href='group-and-agregate.html'>Group and Agregates</a></li>		   
		   <li><a target='none' href='http://github.com/max-l/Squeryl/blob/master/src/test/scala/org/squeryl/tests/demos/MusicDb.scala'>Compilable examples</a></li>		   	  
		   
		   <br/><div class='ligne'></div><br/>		   		   
		   
           <li><a href='mapping-scala-2-sql.html'>Mapping Scala types to Sql</a></li>
		   <li><a href='supported-databases.html'>Supported databases</a></li>		   
	    </ul>

      </div>
	  
	  
      <div class='span-19 last'> <!-- ; overflow: scroll; height: 200px;' -->		
		<div class='ligne'></div>
		<br/>
        {{ content }}
      </div>
    </div>
  </body>
</html>
